#aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  font-family: $disketMono;
  h3 {
    @extend %title;
  }
  .aboutMe__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    width: 100vw;
    img {
      width: 40vw;
      border-radius: 50%;
    }
    &--info {
      width: 50vw;
      .aboutMe__container--profession {
        flex-direction: column;
        margin-bottom: 1rem;
        &--name {
          font-size: $fs-xxl;
          font-weight: 600;
          padding-bottom: 0.5rem;
        }
        p {
          color: $casiBlanco;
          font-size: $fs-lg;
        }
      }
      .aboutMe__container--contact {
        align-self: flex-start;

        flex-direction: column;
        &--title {
          font-weight: 600;
          font-size: $fs-lg;
          margin-bottom: 0.5rem;
        }
        p {
          color: $casiBlanco;
          font-size: $fs-mdg;
        }
      }
    }
  }
  article {
    width: 100vw;
    padding: 2rem;
    p {
      color: $casiBlanco;
      font-size: $fs-mdg;
      margin-bottom: 0.5rem;
      text-align: center;
    }
  }
  a {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    img {
      width: 25px;
      height: 25px;
      object-fit: contain;
    }
    p {
      margin-left: 1rem;
      font-family: $disketMono;
      color: #fff;
      font-size: $fs-md;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $colorTitulos;
        text-shadow: $bs;
      }
    }
  }
}
