@font-face {
  font-family: dolce;
  src: url(./fonts/Dolce.ttf);
}
@font-face {
  font-family: dolceBold;
  src: url(./fonts/DolceBold.ttf);
}
@font-face {
  font-family: pioggia;
  src: url(./fonts/Pioggia.ttf);
}
@font-face {
  font-family: disketMono;
  src: url(./fonts/DisketMono.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
