@font-face {
  font-family: dolce;
  src: url(/assets/fonts/Dolce.ttf);
}
@font-face {
  font-family: dolceBold;
  src: url(/assets/fonts/DolceBold.ttf);
}
@font-face {
  font-family: pioggia;
  src: url(/assets/fonts/Pioggia.ttf);
}
@font-face {
  font-family: disketMono;
  src: url(/assets/fonts/DisketMono.ttf);
}
