* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
  background: rgb(0, 0, 0);
}

body {
  overflow-x: hidden;
  background-color: #111111;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #111111;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(83, 108, 120, 0.4588235294);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(83, 108, 120, 0.9058823529);
}

@supports (scrollbar-color: rgba(83, 108, 120, 0.9058823529) #111111) {
  * {
    scrollbar-color: rgba(83, 108, 120, 0.9058823529) #111111;
  }
}
@font-face {
  font-family: dolce;
  src: url(./fonts/Dolce.ttf);
}
@font-face {
  font-family: dolceBold;
  src: url(./fonts/DolceBold.ttf);
}
@font-face {
  font-family: pioggia;
  src: url(./fonts/Pioggia.ttf);
}
@font-face {
  font-family: disketMono;
  src: url(./fonts/DisketMono.ttf);
}
#experience h3, #skills h3, #aboutMe h3 {
  font-family: "dolce";
  color: #00d7ff;
  font-size: 2.8rem;
  padding: 2rem;
  text-shadow: 3px 3px 3px hsla(0deg, 0%, 0%, 0.25);
}

header {
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 10vh;
  width: 100vw;
  background-color: black;
  padding: 1.5rem;
}
header a {
  text-decoration: none;
}
header a .header__brand {
  display: flex;
  align-items: center;
}
header a .header__brand img {
  height: 50px;
}
header a .header__brand--name h1 {
  font-family: "dolce";
  color: white;
  font-size: 2.8rem;
  margin-left: 1rem;
  transition: all 0.3s ease-in-out;
}
header a .header__brand--name h1 span {
  font-family: "dolceBold";
  color: white;
  font-size: 2.8rem;
  transition: all 0.3s ease-in-out;
}
header a .header__brand--name h2 {
  font-family: "dolce";
  color: white;
  font-size: 1.6rem;
  margin: 0.5rem 0 0 1rem;
  transition: all 0.3s ease-in-out;
}

.mobileMenu {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.8705882353);
  transition: all 1s ease-in-out;
}
.mobileMenu .mobileMenu__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobileMenu .mobileMenu__nav a {
  text-decoration: none;
  font-family: "dolceBold";
  color: #00d7ff;
  font-size: 2.8rem;
  margin-bottom: 3rem;
  filter: drop-shadow(3px 3px 3px hsla(0deg, 0%, 0%, 0.25));
}
.mobileMenu .mobileMenu__social a {
  padding-left: 1rem;
}
.mobileMenu .mobileMenu__social a img {
  width: 30px;
  height: 30px;
}

.show {
  top: 0;
}

#cover {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#cover .cover__heartLogo {
  width: 250px;
  -webkit-animation: 2.5s ease 0s infinite beat;
          animation: 2.5s ease 0s infinite beat;
}
#cover .cover__angleDown {
  position: absolute;
  bottom: 60px;
  width: 20px;
  filter: drop-shadow(0px 0px 25px #00ffff);
}

@-webkit-keyframes beat {
  0%, 50%, 100% {
    transform: scale(1, 1);
    filter: drop-shadow(0px 0px 15px #00ffff);
  }
  30%, 80% {
    transform: scale(0.92, 0.95);
    filter: drop-shadow(0px 0px 15px transparent);
  }
}

@keyframes beat {
  0%, 50%, 100% {
    transform: scale(1, 1);
    filter: drop-shadow(0px 0px 15px #00ffff);
  }
  30%, 80% {
    transform: scale(0.92, 0.95);
    filter: drop-shadow(0px 0px 15px transparent);
  }
}
#aboutMe {
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  font-family: "disketMono";
}
#aboutMe .aboutMe__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  padding-right: 0;
  width: 100vw;
}
#aboutMe .aboutMe__container img {
  width: 40vw;
  border-radius: 50%;
}
#aboutMe .aboutMe__container--info {
  width: 50vw;
}
#aboutMe .aboutMe__container--info .aboutMe__container--profession {
  flex-direction: column;
  margin-bottom: 1rem;
  color: #FBFBFB;
}
#aboutMe .aboutMe__container--info .aboutMe__container--profession--name {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
#aboutMe .aboutMe__container--info .aboutMe__container--profession--rol {
  width: 80%;
  font-size: 1.2rem;
}
#aboutMe .aboutMe__container--info .aboutMe__container--contact {
  align-self: flex-start;
  flex-direction: column;
}
#aboutMe .aboutMe__container--info .aboutMe__container--contact--title {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
#aboutMe .aboutMe__container--info .aboutMe__container--contact p {
  margin-bottom: 0.5rem;
  color: #FBFBFB;
  font-size: 1.2rem;
}
#aboutMe .aboutMe__container--info .aboutMe__container--contact div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
#aboutMe .aboutMe__container--info .aboutMe__container--contact div img {
  width: 16px;
  border-radius: 0;
  margin-right: 0.5rem;
}
#aboutMe .aboutMe__container--info .aboutMe__container--contact div p {
  color: #FBFBFB;
  font-size: 1.2rem;
}
#aboutMe article {
  width: 100vw;
  padding: 2rem;
}
#aboutMe article p {
  color: #FBFBFB;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
#aboutMe a {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#aboutMe a img {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}
#aboutMe a p {
  margin-left: 1rem;
  font-family: "disketMono";
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}
#aboutMe a p:hover {
  color: #00d7ff;
  text-shadow: 3px 3px 3px hsla(0deg, 0%, 0%, 0.25);
}

#skills {
  padding: 2rem 5%;
  scroll-margin-top: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(2, 124, 147) 40%);
}
#skills .skillsCards__Container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#skills .skillsCards__Container .card {
  position: relative;
  width: 90vw;
  height: 280px;
  color: white;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
  margin-bottom: 2rem;
}
#skills .skillsCards__Container .card:hover {
  transform: rotateY(0.5turn);
}
#skills .skillsCards__Container .card .card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: 1s ease-in-out;
}
#skills .skillsCards__Container .card .card__face--front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(212, 204, 204, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#skills .skillsCards__Container .card .card__face--front h4 {
  color: #FBFBFB;
  font-size: 2.8rem;
  font-family: "pioggia";
  width: 60%;
  text-align: center;
}
#skills .skillsCards__Container .card .card__face--back {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(212, 204, 204, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transform: rotateY(0.5turn);
}
#skills .skillsCards__Container .card .card__face--back--iconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin-bottom: 2rem;
}
#skills .skillsCards__Container .card .card__face--back--iconContainer div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#skills .skillsCards__Container .card .card__face--back--iconContainer div img {
  width: 40px;
  height: 50px;
  margin: 0.5rem 1rem;
}
#skills .skillsCards__Container .card .card__face--back--iconContainer div p {
  font-size: 1.4rem;
}
#skills .skillsCards__Container .card .card__face--back--certificateContainer ul li {
  list-style: none;
  margin-bottom: 0.8rem;
  text-align: center;
}
#skills .skillsCards__Container .card .card__face--back--certificateContainer ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.6rem;
  color: #FBFBFB;
  text-decoration: none;
  transition: all;
}
#skills .skillsCards__Container .card .card__face--back--certificateContainer ul li a:hover {
  color: #00d7ff;
}

#experience {
  padding: 2rem 5%;
  scroll-margin-top: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
}
footer {
  height: 10vh;
  width: 100vw;
  background: black;
  box-shadow: 0 -5px 50px #00d7ff;
}/*# sourceMappingURL=main.css.map */